* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  background: linear-gradient(#E1E9F2, #EEF8FF);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  overflow-x: hidden; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

.center {
  max-width: 1200px;
  margin: auto; }

header {
  background: #fff;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-size: cover;
  padding: 30px 120px 30px 70px;
  position: relative;
  box-shadow: 2px 5px 1px 1px #D7DFE7; }
  header h2 {
    color: #293339;
    font-size: 24px;
    letter-spacing: 1px; }
    header h2 span {
      display: block;
      font-size: 16px;
      color: #000;
      margin-left: 18px;
      margin-top: 10px;
      letter-spacing: 1px; }
  header .data {
    margin-top: 30px; }
    header .data .left {
      float: left;
      width: 30%; }
      header .data .left:last-child {
        margin-right: 0; }
    header .data .right {
      float: right;
      text-align: center; }
    header .data strong {
      color: green;
      display: inline-block;
      font-size: 28px;
      font-weight: 700; }
    header .data small {
      color: #8E96AC;
      display: block;
      font-size: 18px;
      margin-top: 10px; }
  header .down-data strong {
    color: red; }
  header .hidden-line-one {
    position: absolute;
    left: 160px;
    bottom: -400px;
    height: 400px;
    max-width: 10px;
    background: #604B9B; }
  header .hidden-line-two {
    position: absolute;
    right: 200px;
    bottom: -400px;
    height: 400px;
    max-width: 10px;
    background: #604B9B; }

.absolute {
  padding: 50px 100px 50px 70px; }
  .absolute button {
    height: 200px;
    line-height: 200px;
    padding: 0 15px;
    font-size: 16px;
    background: #604B9B;
    color: #fff;
    border: none;
    float: left;
    position: relative;
    border-radius: 100px; }
    .absolute button span {
      position: absolute;
      height: 500px;
      max-width: 20px;
      color: red;
      top: 0;
      left: 0;
      z-index: 1000; }
  .absolute .absolute-left {
    float: left; }
  .absolute .absolute-right {
    float: right; }
  .absolute .timeCalc {
    float: left;
    margin-left: 10vw;
    margin-top: -150px;
    font-size: 22px;
    display: inline-block;
    background: #fff;
    height: 90px;
    line-height: 90px;
    padding: 0 30px;
    border-radius: 100px;
    font-weight: 700; }

.card {
  max-width: 100%;
  background: #fff;
  height: 500px;
  box-shadow: 1px 2px 1px 1px #ccc;
  margin-top: 40px; }
  .card .left-card {
    background: #604B9B;
    width: 40%;
    float: left;
    height: 500px;
    position: relative; }
    .card .left-card strong {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      font-size: 28px; }
      .card .left-card strong small {
        display: block;
        margin-top: 10px;
        font-size: 50px;
        font-weight: 700; }
    .card .left-card span {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      background: #604B7B;
      width: 100%;
      height: 80px;
      line-height: 80px;
      color: #fff;
      font-size: 40px;
      font-weight: 600; }
  .card .right-card {
    float: right;
    width: 60%;
    position: relative; }
    .card .right-card .wrapper {
      position: absolute;
      top: 250px;
      left: 350px;
      transform: translate(-50%, -50%);
      max-width: 60%; }
      .card .right-card .wrapper strong {
        display: block;
        font-size: 40px;
        margin-bottom: 10px; }
        .card .right-card .wrapper strong span {
          font-weight: 700;
          font-size: 50px; }

.hiddenBox, .hiddenForBook {
  border: 1px solid #000;
  padding: 100px 100px 100px 70px;
  box-shadow: 1px 2px 1px 2px #ccc;
  display: none; }
  .hiddenBox h3, .hiddenForBook h3 {
    font-size: 40px;
    color: #293339;
    font-weight: 700; }
  .hiddenBox .cardHidden, .hiddenForBook .cardHidden {
    margin-top: 30px;
    max-width: 100%;
    background: #fff;
    padding: 20px 10px; }
    .hiddenBox .cardHidden input, .hiddenForBook .cardHidden input {
      height: 40px;
      max-width: 40px;
      float: left; }
    .hiddenBox .cardHidden label, .hiddenForBook .cardHidden label {
      float: left;
      margin-left: 50px;
      max-width: 70%;
      font-size: 30px; }
      .hiddenBox .cardHidden label strong, .hiddenForBook .cardHidden label strong {
        font-size: 38px;
        color: #293339;
        display: block;
        margin-bottom: 20px; }
      .hiddenBox .cardHidden label span, .hiddenForBook .cardHidden label span {
        font-size: 38px;
        color: green;
        margin-right: 50px; }
      .hiddenBox .cardHidden label .next, .hiddenForBook .cardHidden label .next {
        color: red; }
    .hiddenBox .cardHidden > span, .hiddenForBook .cardHidden > span {
      display: block;
      margin-left: 90px;
      margin-top: 50px;
      font-size: 30px;
      color: #8E96AC; }
      .hiddenBox .cardHidden > span small, .hiddenForBook .cardHidden > span small {
        color: #293339;
        font-size: 38px;
        font-weight: 700; }
  .hiddenBox .bookSquare, .hiddenForBook .bookSquare {
    margin-top: 50px;
    display: inline-block;
    background: #604B9B;
    color: #fff;
    height: 80px;
    padding: 0 20px;
    font-size: 40px;
    line-height: 80px;
    text-decoration: none; }

.shownBox .hiddenBox {
  display: block; }

@media (max-width: 600px) {
  header {
    padding-left: 50px;
    padding-right: 50px; }
    header .data .left {
      margin-right: 15px; }

  .absolute {
    padding-top: 50px; }
    .absolute button {
      font-size: 16px;
      height: 50px;
      line-height: 50px; }

  .card .right-card .wrapper {
    left: 200px;
    width: 100%; }
    .card .right-card .wrapper strong {
      font-size: 20px; }
      .card .right-card .wrapper strong span {
        font-size: 30px; }

  .hiddenBox .cardHidden label, .hiddenForBook .cardHidden label {
    font-size: 20px; }
    .hiddenBox .cardHidden label strong, .hiddenForBook .cardHidden label strong {
      font-size: 20px; }
    .hiddenBox .cardHidden label span, .hiddenForBook .cardHidden label span {
      font-size: 25px;
      margin-right: 10px; } }
@media (max-width: 425px) {
  header .data small {
    font-size: 18px; }

  .card {
    height: 300px; }
    .card .left-card {
      height: 300px; }
      .card .left-card strong {
        font-size: 20px; }
      .card .left-card span {
        font-size: 16px; }
    .card .right-card .wrapper {
      left: 120px;
      top: 150px; }
      .card .right-card .wrapper strong {
        font-size: 14px; }
        .card .right-card .wrapper strong span {
          font-size: 18px; }

  .hiddenBox, .hiddenForBook {
    padding: 20px; }
    .hiddenBox h3, .hiddenForBook h3 {
      font-size: 18px; }
    .hiddenBox .bookSquare, .hiddenForBook .bookSquare {
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      margin-top: 20px; }
    .hiddenBox .cardHidden label strong, .hiddenForBook .cardHidden label strong {
      font-size: 16px;
      margin-bottom: 10px; }
    .hiddenBox .cardHidden label span, .hiddenForBook .cardHidden label span {
      font-size: 18px; }
    .hiddenBox .cardHidden > span, .hiddenForBook .cardHidden > span {
      margin-left: 60px;
      margin-top: 20px;
      font-size: 20px; }
      .hiddenBox .cardHidden > span small, .hiddenForBook .cardHidden > span small {
        font-size: 18px; } }
.indexPage {
  padding-top: 50px; }

.searchBox input {
  height: 45px;
  padding: 0 20px; }
.searchBox button {
  background: red;
  color: #fff;
  border: 0;
  height: 40px;
  padding: 0 20px; }

h4 {
  font-size: 24px;
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  color: #293339; }

.lists {
  margin-top: 20px; }
  .lists .boxModel {
    padding: 15px 0;
    display: block;
    text-decoration: none;
    background-position: top;
    background-size: cover;
    height: 25vh;
    position: relative;
    margin-top: 10px; }
    .lists .boxModel h2 {
      position: absolute;
      top: 50%;
      left: 40%;
      text-align: center;
      transform: translate(-35%, -50%);
      color: #fff;
      font-size: 22px; }
      .lists .boxModel h2 span {
        display: block;
        font-size: 14px;
        font-weight: 400; }
  .lists .boxModel#sixth {
    background: linear-gradient(to right bottom, rgba(96, 75, 155, 0.9), rgba(96, 75, 155, 0.9)), url(../img/siddhartha.jpg); }
  .lists .boxModel#seventh {
    background: linear-gradient(to right bottom, rgba(96, 75, 155, 0.9), rgba(96, 75, 155, 0.9)), url(../img/siddhartha.jpg); }
  .lists .boxModel#first {
    background: linear-gradient(to right bottom, rgba(96, 75, 155, 0.9), rgba(96, 75, 155, 0.9)), url(../img/prabhu.jpg); }
  .lists .boxModel#second {
    background: linear-gradient(to right bottom, rgba(96, 75, 155, 0.9), rgba(96, 75, 155, 0.9)), url(../img/NMB.jpg); }
  .lists .boxModel#third {
    background: linear-gradient(to right bottom, rgba(96, 75, 155, 0.9), rgba(96, 75, 155, 0.9)), url(../img/nabil.jpg); }
  .lists .boxModel#fourth {
    background: linear-gradient(to right bottom, rgba(96, 75, 155, 0.9), rgba(96, 75, 155, 0.9)), url(../img/sbi.jpeg); }
  .lists .boxModel#fifth {
    background: linear-gradient(to right bottom, rgba(96, 75, 155, 0.9), rgba(96, 75, 155, 0.9)), url(../img/sc.jpg); }

.pleft {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background: green;
  color: #fff;
  border: 0; }

.information {
  background: #fff;
  margin-top: 50px;
  border: 1px solid #eee;
  box-shadow: 1px 2px 1px 2px #ccc;
  position: relative;
  height: 30vh; }
  .information .hiddens-map-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background: green;
    color: #fff;
    cursor: pointer;
    border: 0; }
  .information h3 {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: green; }
    .information h3 span {
      display: block;
      font-size: 20px;
      font-weight: 400;
      color: #293339;
      margin-top: 8px; }
  .information .info-absolute {
    position: absolute;
    bottom: 55px;
    left: 10%; }
    .information .info-absolute span {
      display: block;
      margin-left: 0px;
      margin-top: 0px;
      font-size: 18px;
      color: #8E96AC; }
      .information .info-absolute span small {
        color: #293339;
        font-size: 22px;
        font-weight: 700; }
  .information .static-info {
    position: absolute;
    bottom: 20px;
    left: 10%; }

.hidden-map {
  margin-top: 50px;
  display: none;
  padding-left: 15px; }

.alertedOnClick {
  position: relative;
  top: -20px;
  left: 0;
  width: 100%;
  background: #604B9B;
  color: #fff;
  padding: 20px;
  height: 20vh;
  display: none; }
  .alertedOnClick h3 {
    font-size: 14px;
    font-weight: 400; }
  .alertedOnClick a {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    text-decoration: none;
    background: #fff;
    color: #000;
    height: 40px;
    line-height: 40px;
    padding: 0 18px; }
  .alertedOnClick .thanks {
    right: 20px;
    left: auto; }

.hiddenForBook {
  display: none; }
  .hiddenForBook .cardHidden {
    margin-bottom: 10px; }
  .hiddenForBook > input {
    width: 160px;
    margin-top: 10px;
    height: 50px; }

.shownTwo .hiddenForBook {
  display: block; }

/*# sourceMappingURL=style.css.map */
